html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background: linear-gradient(100deg, #fdcd3b 49%, #FFED49 49%);
  font-family: 'Avenir Next';
  font-size: 45px;
}

.title {
  display: table;
  margin: auto;
}

.subtitle {
  display: table;
  margin: auto;
  font-size: 40px;
}

.avatar {
  width: 200px;
  display: table;
  margin: auto;
  padding-top: 25vh;
}

.social-media {
  display: table;
  margin: 20px auto;
}

.contact-link {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.contact-link:hover {
  color: #403F4C;
}

@media screen and (max-width: 800px) {
  html, body {
    font-size: 22px;
    background: linear-gradient(100deg, #fdcd3b 45%, #FFED49 45%);
  }

  .avatar {
    width: 150px;
  }

  .subtitle {
    font-size: 25px;
  }

  .social-media {
    margin: 15px auto;
  }
}


@media screen and (max-width: 320px) {
  html, body {
    font-size: 12px;
    background: linear-gradient(100deg, #fdcd3b 45%, #FFED49 45%);
  }

  .avatar {
    width: 100px;
  }

  .subtitle {
    font-size: 15px;
  }

  .social-media {
    margin: 7px auto;
  }
}