html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background: linear-gradient(100deg, #fdcd3b 49%, #FFED49 49%);
  font-family: 'Avenir Next';
  font-size: 45px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  margin: 0 auto;
}

.subtitle {
  margin: 0 auto;
  font-size: 35px;
}

.avatar {
  width: 200px;
  margin: 0 auto;
}

.social-media {
  display: table;
  margin: 0 auto;
}

.contact-link {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 25px;
}

.contact-link:hover {
  color: #403F4C;
}

@media screen and (max-width: 800px) {
  html, body {
    font-size: 22px;
  }

  .avatar {
    width: 150px;
  }

  .subtitle {
    font-size: 22px;
  }

  .social-media {
    margin: 5px auto;
  }

  .contact-link {
    font-size: 18px;
  }
}


@media screen and (max-width: 320px) {
  html, body {
    font-size: 12px;
  }

  .avatar {
    width: 100px;
  }

  .subtitle {
    font-size: 15px;
  }

  .social-media {
    margin: 8px auto;
  }

  .contact-link {
    font-size: 12px;
  }
}